header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    & div
    {
        display: inherit;
        align-items: inherit;
        gap: 15px;
    }

    & i
    {
        font-size: var(--icon-font-size);
        color: var(--header-icon-color);
    }

    & select
    {
        font-family: inherit;
        background-color: transparent;
        font-size: var(--select-font-size);
        min-width: 130px;
        width: fit-content;
        cursor: pointer;
    }
}

.container.search-input-container
{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
    padding: 15px;
    background-color: var(--search-input-background-color);
    border-radius: var(--base-border-radius);

    & input
    {
        font-family: inherit;
        color: var(--search-input-color);
        background-color: transparent;
        width: 100%;
        cursor: pointer;
    }

    & i
    {
        font-size: 20px;
        color: var(--search-input-icon-color);
    }
}

/* Section: Pronounce */
section.pronunciation
{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;

    & > div
    {
        & h1
        {
            color: var(--heading-text-color);
        }

        & span
        {
            display: inline-block;
            margin-top: 10px;
            color: var(--phonetics-color);
        }
    }

    & button
    {
        height: 50px;
        min-width: 50px;
        width: fit-content;
        border-radius: calc(var(--base-border-radius) * 5);
        color: var(--pronounce-button-color);
        background-color: var(--pronounce-button-background-color);
        font-size: calc(var(--icon-font-size) / 1.5);

        &.is-pronouncing
        {
            opacity: .4;
            cursor: not-allowed;
        }
    }
}